/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;800&display=swap');

:root{
    --color-elements :hsl(0, 0%, 100%)   ;  
    --color-bg : hsl(0, 0%, 98%);   
    --color-text :hsl(200, 15%, 8%) ;  
    --color-text2 : hsl(0, 0%, 52%) ;  
    /* font */
    --font-family: 'Nunito Sans', sans-serif;
--font-md :14px;
--font-lg:16px;
--gutter : 40px;
@media (max-width:375px) { //mobile
    --gutter : 20px;
    --font-lg:14px;
 }
  }

  :root.dark{
    --color-elements : hsl(209, 23%, 22%)  ;  
    --color-bg : hsl(207, 26%, 17%);  // $Dark-Blue2
    --color-text :hsl(0, 0%, 100%) ; // $White
    --color-text2 : hsl(0, 0%, 52%) ; //$White 
  }


*{
margin: 0;
padding: 0;
}

body{
    font-family: var(--font-family);
    font-size: --font-md;
    background-color: var(--color-bg);
    color: var(--color-text) ;
     
}



/*General styles*/
.float {
  display: grid;
  align-items: center;
  &_left  { float: left;}
  &_right {      float: right;  }
}

.clearfix{
   
  &::after {
      content: "";
      clear: both;
      display: table;
    }
}


.svg-icon {
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px ;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: var(--color-text);
}

.svg-icon circle {
  stroke: var(--color-text);
  stroke-width: 1;
}


.container{
  background-color: var(--color-bg);
  padding: 40px ;
  
}

.btn{
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-items: center;
   outline: 0;
}